{"accounts": [
	{
		"auth_service": "google",
		"username": "username",
		"password": "password",
		"location": "52.383175, -1.5632707"

		"get_pokemon": {
			"sort_by": "cp"
		},

		"transfer": {
			"allow": "all",
			"except": "dragonite, mewtwo, mew",
			"all": { "below_cp": 500, "below_iv": 70, "logic": "and" },
			"pidgey": { "below_cp": 0, "below_iv": 70, "logic": "or" },
			"weedle": { "below_cp": 0, "below_iv": 70, "logic": "or" }
		},

		"recycle": {
			"razz berry": { "above_count": 20 },
			"potion": { "above_count": 0 },
			"super potion": { "above_count": 0 },
			"revive": { "above_count": 30 }
		},

		"evolve": {
			"allow": "pidgey, weedle",
			"except": "",
			"all": { "above_cp": 0, "above_iv": 80, "logic": "and" },
			"pidgey": { "above_cp": 0, "above_iv": 0, "logic": "and" }
		}
	},

	{
		"auth_service": "ptc",
		"username": "another account",
		"password": "",
		"location": "University of Warwick"

		"get_pokemon": {
			"sort_by": "cp"
		},

		"transfer": {
			"allow": "all",
			"except": "dragonite, mewtwo, mew",
			"all": { "below_cp": 500, "below_iv": 70, "logic": "and" },
			"pidgey": { "below_cp": 0, "below_iv": 70, "logic": "or" },
			"weedle": { "below_cp": 0, "below_iv": 70, "logic": "or" }
		},

		"recycle": {
			"razz berry": { "above_count": 20 },
			"potion": { "above_count": 0 },
			"super potion": { "above_count": 0 },
			"revive": { "above_count": 30 }
		},

		"evolve": {
			"allow": "pidgey, weedle",
			"except": "",
			"all": { "above_cp": 0, "above_iv": 80, "logic": "and" },
			"pidgey": { "above_cp": 0, "above_iv": 0, "logic": "and" }
		}
	}
]}
